<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.system.auto.mappers.OperationMapper">

    <select id="existTable" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*)
        FROM pg_tables t
        WHERE t.tablename = #{tablename,jdbcType=VARCHAR}
    </select>

    <update id="createTable" statementType="STATEMENT">
        CREATE TABLE ${tablename}
        <foreach collection="tablebody" item="column" open="(" close=");" separator=",">
            ${column.tabColumn} ${column.tabColType}
            <if test="column.tabColLength != 0 and column.tabColSmall == 0">
                (${column.tabColLength})
            </if>
            <if test="column.tabColLength != 0 and column.tabColSmall != 0">
                (${column.tabColLength},${column.tabColSmall})
            </if>
            <if test="column.isNull != null">
                NOT NULL
            </if>
            <if test="column.defaultValue != null">
                DEFAULT ${column.defaultValue}
            </if>
        </foreach>
        <foreach collection="tablebody" item="comment">
            <if test="comment.comment != null">
                COMMENT ON COLUMN ${tablename}.${comment.tabColumn} IS '${comment.comment}';
            </if>
        </foreach>
        COMMENT ON TABLE ${tablename} IS '${tablecomment}';
    </update>

    <update id="dropTable" statementType="STATEMENT" parameterType="java.lang.String">
        DROP TABLE IF EXISTS ${tablename} CASCADE;
    </update>

    <select id="existColumn" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*)
        FROM
            pg_attribute t1
            INNER JOIN pg_class t2 ON t1.attrelid = t2.relfilenode
        WHERE
            t2.relname = #{tablename,jdbcType=VARCHAR}
            AND t1.attname = #{columnname,jdbcType=VARCHAR}
    </select>

    <update id="addColumn" statementType="STATEMENT">
        ALTER TABLE ${tablename}
        <foreach collection="columnbody" item="column" open="" close=";" separator=",">
            ADD COLUMN ${column.tabColumn} ${column.tabColType}
            <if test="column.tabColLength != 0 and column.tabColSmall == 0">
                (${column.tabColLength})
            </if>
            <if test="column.tabColLength != 0 and column.tabColSmall != 0">
                (${column.tabColLength},${column.tabColSmall})
            </if>
            <if test="column.isNull != null">
                NOT NULL
            </if>
            <if test="column.defaultValue != null">
                DEFAULT ${column.defaultValue}
            </if>
        </foreach>
        <foreach collection="columnbody" item="comment">
            <if test="comment.comment != null">
                COMMENT ON COLUMN ${tablename}.${comment.tabColumn} IS '${comment.comment}';
            </if>
        </foreach>
    </update>

    <update id="dropColumn" statementType="STATEMENT">
        ALTER TABLE ${tablename}
        <foreach collection="columnbody" item="column" open="" close=";" separator=",">
            DROP COLUMN ${column.tabColumn}
        </foreach>
    </update>

    <update id="createFunction" parameterType="app.system.auto.model.BaseTableModel" statementType="STATEMENT">
        CREATE OR REPLACE FUNCTION ${func.funcName}(${func.funcPara})
        RETURNS ${func.funcReturnPara} AS
        $BODY$

        ${func.funcBody}

        $BODY$ LANGUAGE PLPGSQL;
    </update>

    <update id="dropFunction" parameterType="java.lang.String">
        DROP FUNCTION ${funcname};
    </update>

    <select id="execFunction" parameterType="java.lang.String" resultType="java.lang.Object">
        SELECT ${funcname}(${paralist});
    </select>
</mapper>