body {
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.control-shadow {
    /*border: dashed 1px black;*/
    min-height: 50px;
    background: lightblue;
    margin: 2px 0px;
}

.page-content-wrapper {
    margin: 0px;
    padding: 0px;
}

.page-content {
    margin: 0px;
    padding: 0px;
}

