<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.management.menuinfo.mappers.MenuLevelMapper">
    <resultMap id="BaseResultMap" type="app.management.menuinfo.entities.MenuLevelEntity">
        <id column="menu_id" jdbcType="VARCHAR" property="menuId"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="menu_type" jdbcType="VARCHAR" property="menuType"/>
        <result column="menu_level" jdbcType="VARCHAR" property="menuLevel"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
        <result column="menu_path" jdbcType="VARCHAR" property="menuPath"/>
        <result column="form_id" jdbcType="VARCHAR" property="formId"/>
        <result column="menu_url" jdbcType="VARCHAR" property="menuUrl"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="order_num" jdbcType="NUMERIC" property="orderNum"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
        <collection property="menuLevels" ofType="app.management.menuinfo.entities.MenuLevelEntity">
            <id column="menu_id2" jdbcType="VARCHAR" property="menuId"/>
            <result column="parent_id2" jdbcType="VARCHAR" property="parentId"/>
            <result column="menu_type2" jdbcType="VARCHAR" property="menuType"/>
            <result column="menu_level2" jdbcType="VARCHAR" property="menuLevel"/>
            <result column="menu_name2" jdbcType="VARCHAR" property="menuName"/>
            <result column="menu_code2" jdbcType="VARCHAR" property="menuCode"/>
            <result column="menu_path2" jdbcType="VARCHAR" property="menuPath"/>
            <result column="form_id2" jdbcType="VARCHAR" property="formId"/>
            <result column="menu_url2" jdbcType="VARCHAR" property="menuUrl"/>
            <result column="remark2" jdbcType="VARCHAR" property="remark"/>
            <result column="order_num2" jdbcType="NUMERIC" property="orderNum"/>
            <result column="status2" jdbcType="VARCHAR" property="status"/>
            <result column="create_date2" jdbcType="DATE" property="createDate"/>
            <collection property="menuLevels" ofType="app.management.menuinfo.entities.MenuLevelEntity">
                <id column="menu_id3" jdbcType="VARCHAR" property="menuId"/>
                <result column="parent_id3" jdbcType="VARCHAR" property="parentId"/>
                <result column="menu_type3" jdbcType="VARCHAR" property="menuType"/>
                <result column="menu_level3" jdbcType="VARCHAR" property="menuLevel"/>
                <result column="menu_name3" jdbcType="VARCHAR" property="menuName"/>
                <result column="menu_code3" jdbcType="VARCHAR" property="menuCode"/>
                <result column="menu_path3" jdbcType="VARCHAR" property="menuPath"/>
                <result column="form_id3" jdbcType="VARCHAR" property="formId"/>
                <result column="menu_url3" jdbcType="VARCHAR" property="menuUrl"/>
                <result column="remark3" jdbcType="VARCHAR" property="remark"/>
                <result column="order_num3" jdbcType="NUMERIC" property="orderNum"/>
                <result column="status3" jdbcType="VARCHAR" property="status"/>
                <result column="create_date3" jdbcType="DATE" property="createDate"/>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="menuPojoResult" type="app.management.menuinfo.entities.MenuPojoEntity">
        <id column="menu_id" jdbcType="VARCHAR" property="menuId"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="menu_type" jdbcType="VARCHAR" property="menuType"/>
        <result column="menu_level" jdbcType="VARCHAR" property="menuLevel"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
        <result column="menu_path" jdbcType="VARCHAR" property="menuPath"/>
        <result column="form_id" jdbcType="VARCHAR" property="formId"/>
        <result column="menu_url" jdbcType="VARCHAR" property="menuUrl"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="order_num" jdbcType="NUMERIC" property="orderNum"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
    </resultMap>

    <sql id="Base_Column_List">
    t1.menu_id,
	t1.parent_id,
	t1.menu_type,
	t1.menu_level,
	t1.menu_name,
	t1.menu_code,
	t1.menu_path,
	t1.form_id,
	t1.menu_url,
	t1.remark,
	t1.order_num,
	t1.status,
	t1.create_date,
	t2.menu_id menu_id2,
	t2.parent_id parent_id2,
	t2.menu_type menu_type2,
	t2.menu_level menu_level2,
	t2.menu_name menu_name2,
	t2.menu_code menu_code2,
	t2.menu_path menu_path2,
	t2.form_id form_id2,
	t2.menu_url menu_url2,
	t2.remark remark2,
	t2.order_num order_num2,
	t2.status status2,
	t2.create_date create_date2,
	t3.menu_id menu_id3,
	t3.parent_id parent_id3,
	t3.menu_type menu_type3,
	t3.menu_level menu_level3,
	t3.menu_name menu_name3,
	t3.menu_code menu_code3,
	t3.menu_path menu_path3,
	t3.form_id form_id3,
	t3.menu_url menu_url3,
	t3.remark remark3,
	t3.order_num order_num3,
	t3.status status3,
	t3.create_date create_date3
    </sql>

    <sql id="menupojosql">
        t1.menu_id,
        t1.parent_id,
        t1.menu_type,
        t1.menu_level,
        t1.menu_name,
        t1.menu_code,
        t1.menu_path,
        t1.form_id,
        t1.menu_url,
        t1.remark,
        t1.order_num,
        t1.status,
        t1.create_date
    </sql>

    <select id="selectAllRecord" resultMap="BaseResultMap">
        with menu_base as (select * from sys_menu)
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        menu_base t1
        LEFT OUTER JOIN menu_base t2 ON T1.menu_id = t2.parent_id
        LEFT OUTER JOIN menu_base t3 ON T2.menu_id = t3.parent_id
        WHERE
        t1.menu_level = '1'
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM
        sys_role r
        LEFT OUTER JOIN sys_role_auth_rel ra ON r.role_id = ra.role_id
        LEFT OUTER JOIN sys_authority A ON ra.auth_id = A.auth_id
        LEFT OUTER JOIN sys_auth_menu_rel am ON A.auth_id = am.auth_id
        LEFT OUTER JOIN sys_menu M ON am.menu_id = M.menu_id
        where r.role_id = #{roleId,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        WITH menu_base AS (
        SELECT
        *
        FROM
        sys_menu
        WHERE
        menu_id IN (
        SELECT
        M.menu_id
        FROM
        sys_user u
        INNER JOIN sys_user_role_rel ur ON u.user_id = ur.user_id
        INNER JOIN sys_role_auth_rel ra ON ur.role_id = ra.role_id
        INNER JOIN sys_auth_menu_rel am ON ra.auth_id = am.auth_id
        INNER JOIN sys_menu M ON am.menu_id = M.menu_id
        WHERE
        u.user_id = #{userId,jdbcType=VARCHAR}
        )
        ) SELECT
        <include refid="Base_Column_List"/>
        FROM
        menu_base t1
        LEFT OUTER JOIN menu_base t2 ON T1.menu_id = t2.parent_id
        LEFT OUTER JOIN menu_base t3 ON T2.menu_id = t3.parent_id
        WHERE
        t1.menu_level = '1'
    </select>

    <select id="selectByMenuTpye" parameterType="java.lang.String" resultMap="menuPojoResult">
        select
        <include refid="menupojosql"/>
        from sys_menu t1
        where t1.menu_type = #{menuType,jdbcType=VARCHAR}
    </select>
</mapper>