<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.system.form.mappers.FormDefMapper">
    <resultMap id="BaseResultMap" type="app.system.form.entities.FormDefEntity">
        <id column="form_id" jdbcType="VARCHAR" property="formId"/>
        <result column="form_name" jdbcType="VARCHAR" property="formName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="order_num" jdbcType="NUMERIC" property="orderNum"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="operation_time" jdbcType="DATE" property="operationTime"/>
        <result column="operation_persion" jdbcType="VARCHAR" property="operationPersion"/>
    </resultMap>

    <sql id="Base_Column_List">
        d.form_id,
        d.form_name,
        d.remark,
        d.order_num,
        d.status,
        d.operation_time,
        d.operation_persion
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_form_def d
    </select>

    <select id="selectByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_form_def d
        <if test="start >=0">
            OFFSET #{start,jdbcType=NUMERIC}
        </if>
        <if test="length >=0">
            LIMIT #{length,jdbcType=NUMERIC}
        </if>

    </select>

    <insert id="insertItem" parameterType="app.system.form.entities.FormDefEntity">
        INSERT INTO sys_form_def
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="formId != null">
                form_id,
            </if>
            <if test="formName != null">
                form_name,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="operationTime != null">
                operation_time,
            </if>
            <if test="operationPersion != null">
                operation_persion,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="formId != null">
                #{formId,jdbcType=VARCHAR},
            </if>
            <if test="formName != null">
                #{formName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=NUMERIC},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="operationTime != null">
                #{operationTime,jdbcType=DATE},
            </if>
            <if test="operationPersion != null">
                #{operationPersion,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>