<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.system.form.mappers.FormDefMapper">
    <resultMap id="BaseResultMap" type="app.dao.entities.SysFormDef">
        <id column="form_id" jdbcType="VARCHAR" property="formId"/>
        <result column="form_name" jdbcType="VARCHAR" property="formName"/>
        <result column="form_group" jdbcType="VARCHAR" property="formGroup"/>
        <result column="form_img" jdbcType="VARCHAR" property="formImg"/>
        <result column="f_type" jdbcType="VARCHAR" property="fType"/>
        <result column="is_single" jdbcType="VARCHAR" property="isSingle"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="order_num" jdbcType="NUMERIC" property="orderNum"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="operation_time" jdbcType="DATE" property="operationTime"/>
        <result column="operation_persion" jdbcType="VARCHAR" property="operationPersion"/>
    </resultMap>

    <sql id="Base_Column_List">
        form_id, form_name, form_group, form_img, f_type, is_single, remark, order_num, status,
        operation_time, operation_persion
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_form_def d
    </select>

    <select id="selectByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_form_def d
        <if test="start >=0">
            OFFSET #{start,jdbcType=NUMERIC}
        </if>
        <if test="length >=0">
            LIMIT #{length,jdbcType=NUMERIC}
        </if>

    </select>

</mapper>