<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.auto.mappers.SysBaseTabTmplMapper">
    <resultMap id="BaseResultMap" type="app.auto.entities.SysBaseTabEntity">
        <id column="tab_column" jdbcType="VARCHAR" property="tabColumn"/>
        <result column="tab_col_type" jdbcType="VARCHAR" property="tabColType"/>
        <result column="tab_col_length" jdbcType="NUMERIC" property="tabColLength"/>
        <result column="tab_col_small" jdbcType="NUMERIC" property="tabColSmall"/>
        <result column="is_null" jdbcType="VARCHAR" property="isNull"/>
        <result column="is_key" jdbcType="VARCHAR" property="isKey"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="default_value" jdbcType="VARCHAR" property="defaultValue"/>
    </resultMap>

    <sql id="Base_Column_List">
        t.tab_column,
        t.tab_col_type,
        t.tab_col_length,
        t.tab_col_small,
        t.is_null,
        t.is_key,
        t."comment",
        t.default_value
    </sql>

    <select id="selectByTmplName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        from sys_base_tab_tmpl t
        where t.tab_name = #{tab_name,jdbcType=VARCHAR}
    </select>


</mapper>