<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.auto.mappers.SysExecFuncMapper">
    <resultMap id="BaseResultMap" type="app.auto.entities.SysExecFunc">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="object_id" jdbcType="VARCHAR" property="objectId"/>
        <result column="object_type" jdbcType="VARCHAR" property="objectType"/>
        <result column="func_name" jdbcType="VARCHAR" property="funcName"/>
        <result column="func_para" jdbcType="VARCHAR" property="funcPara"/>
        <result column="func_return_para" jdbcType="VARCHAR" property="funcReturnPara"/>
        <result column="func_body" jdbcType="VARCHAR" property="funcBody"/>
        <result column="on_action" jdbcType="VARCHAR" property="onAction"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, object_id, object_type, func_name, func_para, func_return_para, func_body, on_action,
        status, create_date
    </sql>
    <select id="selectByExample" parameterType="app.auto.entities.SysExecFuncExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sys_exec_func
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_exec_func
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from sys_exec_func
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="app.auto.entities.SysExecFuncExample">
        delete from sys_exec_func
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="app.auto.entities.SysExecFunc">
        INSERT INTO sys_exec_func (id, object_id, object_type,
                                   func_name, func_para, func_return_para,
                                   func_body, on_action, status,
                                   create_date)
        VALUES (#{id,jdbcType=VARCHAR}, #{objectId,jdbcType=VARCHAR}, #{objectType,jdbcType=VARCHAR},
                #{funcName,jdbcType=VARCHAR}, #{funcPara,jdbcType=VARCHAR}, #{funcReturnPara,jdbcType=VARCHAR},
                #{funcBody,jdbcType=VARCHAR}, #{onAction,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
                #{createDate,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" parameterType="app.auto.entities.SysExecFunc">
        insert into sys_exec_func
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="objectId != null">
                object_id,
            </if>
            <if test="objectType != null">
                object_type,
            </if>
            <if test="funcName != null">
                func_name,
            </if>
            <if test="funcPara != null">
                func_para,
            </if>
            <if test="funcReturnPara != null">
                func_return_para,
            </if>
            <if test="funcBody != null">
                func_body,
            </if>
            <if test="onAction != null">
                on_action,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="objectId != null">
                #{objectId,jdbcType=VARCHAR},
            </if>
            <if test="objectType != null">
                #{objectType,jdbcType=VARCHAR},
            </if>
            <if test="funcName != null">
                #{funcName,jdbcType=VARCHAR},
            </if>
            <if test="funcPara != null">
                #{funcPara,jdbcType=VARCHAR},
            </if>
            <if test="funcReturnPara != null">
                #{funcReturnPara,jdbcType=VARCHAR},
            </if>
            <if test="funcBody != null">
                #{funcBody,jdbcType=VARCHAR},
            </if>
            <if test="onAction != null">
                #{onAction,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="app.auto.entities.SysExecFuncExample" resultType="java.lang.Long">
        select count(*) from sys_exec_func
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sys_exec_func
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.objectId != null">
                object_id = #{record.objectId,jdbcType=VARCHAR},
            </if>
            <if test="record.objectType != null">
                object_type = #{record.objectType,jdbcType=VARCHAR},
            </if>
            <if test="record.funcName != null">
                func_name = #{record.funcName,jdbcType=VARCHAR},
            </if>
            <if test="record.funcPara != null">
                func_para = #{record.funcPara,jdbcType=VARCHAR},
            </if>
            <if test="record.funcReturnPara != null">
                func_return_para = #{record.funcReturnPara,jdbcType=VARCHAR},
            </if>
            <if test="record.funcBody != null">
                func_body = #{record.funcBody,jdbcType=VARCHAR},
            </if>
            <if test="record.onAction != null">
                on_action = #{record.onAction,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.createDate != null">
                create_date = #{record.createDate,jdbcType=DATE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sys_exec_func
        set id = #{record.id,jdbcType=VARCHAR},
        object_id = #{record.objectId,jdbcType=VARCHAR},
        object_type = #{record.objectType,jdbcType=VARCHAR},
        func_name = #{record.funcName,jdbcType=VARCHAR},
        func_para = #{record.funcPara,jdbcType=VARCHAR},
        func_return_para = #{record.funcReturnPara,jdbcType=VARCHAR},
        func_body = #{record.funcBody,jdbcType=VARCHAR},
        on_action = #{record.onAction,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=VARCHAR},
        create_date = #{record.createDate,jdbcType=DATE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="app.auto.entities.SysExecFunc">
        update sys_exec_func
        <set>
            <if test="objectId != null">
                object_id = #{objectId,jdbcType=VARCHAR},
            </if>
            <if test="objectType != null">
                object_type = #{objectType,jdbcType=VARCHAR},
            </if>
            <if test="funcName != null">
                func_name = #{funcName,jdbcType=VARCHAR},
            </if>
            <if test="funcPara != null">
                func_para = #{funcPara,jdbcType=VARCHAR},
            </if>
            <if test="funcReturnPara != null">
                func_return_para = #{funcReturnPara,jdbcType=VARCHAR},
            </if>
            <if test="funcBody != null">
                func_body = #{funcBody,jdbcType=VARCHAR},
            </if>
            <if test="onAction != null">
                on_action = #{onAction,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="app.auto.entities.SysExecFunc">
        UPDATE sys_exec_func
        SET object_id        = #{objectId,jdbcType=VARCHAR},
            object_type      = #{objectType,jdbcType=VARCHAR},
            func_name        = #{funcName,jdbcType=VARCHAR},
            func_para        = #{funcPara,jdbcType=VARCHAR},
            func_return_para = #{funcReturnPara,jdbcType=VARCHAR},
            func_body        = #{funcBody,jdbcType=VARCHAR},
            on_action        = #{onAction,jdbcType=VARCHAR},
            status           = #{status,jdbcType=VARCHAR},
            create_date      = #{createDate,jdbcType=DATE}
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>