<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.system.widgetinfo.mappers.WidgetInfoMapper">
    <resultMap id="BaseResultMap" type="app.system.widgetinfo.entities.WidgetInfoEntity">
        <id column="g_group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="g_img" jdbcType="VARCHAR" property="img"/>
        <result column="g_order_num" jdbcType="NUMERIC" property="orderNum"/>
        <result column="g_status" jdbcType="VARCHAR" property="status"/>
        <collection property="widgets" ofType="app.system.widgetinfo.entities.WidgetsEntity">
            <id column="control_id" jdbcType="VARCHAR" property="controlId"/>
            <result column="control_name" jdbcType="VARCHAR" property="controlName"/>
            <result column="img" jdbcType="VARCHAR" property="img"/>
            <result column="c_status" jdbcType="VARCHAR" property="status"/>
            <result column="order_num" jdbcType="NUMERIC" property="orderNum"/>
            <result column="c_group_id" jdbcType="VARCHAR" property="groupId"/>
        </collection>
    </resultMap>

    <resultMap id="ControlAttribute" type="app.system.widgetinfo.entities.ControlAttributeEntity">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="control_id" jdbcType="VARCHAR" property="controlId"/>
        <result column="attribute_name" jdbcType="VARCHAR" property="attributeName"/>
        <result column="attribute_type" jdbcType="VARCHAR" property="attributeType"/>
        <result column="default_value" jdbcType="VARCHAR" property="defaultValue"/>
        <result column="order_num" jdbcType="NUMERIC" property="orderNum"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        G.group_id g_group_id,
        G.group_name,
        G.img g_img,
        G.order_num g_order_num,
        G.status g_status,
        C.control_id,
        C.control_name,
        C.img,
        C.order_num,
        C.status c_status,
        C.group_id c_group_id
    </sql>

    <select id="selectByStatus" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_form_control_groups
        G INNER JOIN sys_from_controls C ON G.group_id = C.group_id
        <trim prefix="where" prefixOverrides="and|or">
            <if test="gStatus != null">
                and g.status = #{gStatus,jdbcType=VARCHAR}
            </if>
            <if test="cStatus != null">
                and c.status = #{cStatus,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>

    <select id="selectWidgetByControlId" parameterType="java.lang.String" resultMap="">
        SELECT *
        FROM
            sys_form_control_attribute t
        WHERE
            t.control_id = #{controlid,jdbcType=VARCHAR}
            AND t.status = #{status,jdbcType=VARCHAR};
    </select>

</mapper>